.findus{
    padding: 3vw 7vw;
}
.findus-info{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.findus-img{
flex: 1;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 2rem;
}


.findus-img img{
    width: 70%;
}