
.sub-title{
  font-family: 'Cormorant Upright';
  color:#FFFFFF;
  font-weight: 700;
  letter-spacing: .1vw;
  text-transform: capitalize;
  line-height: 29.9px;
  font-size: 23px;
}
.sub-img {
  width: 45px;
}
.btn{
  margin: 1.8vw 0;
  padding: 1vw 2vw;
  font-family: "Cormorant Upright";
  font-size: 1.2vw;
  border-radius: 5px;
  border: none;
  outline: none;
 transition: all ease-out .4s;
  cursor: pointer;
}
.btn:hover{
  border: 1px solid white;
  background-color: transparent;
  color: white;

}
.text{
  font-family:  'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.04vw;
  text-transform: capitalize;
  font-size: 1.2vw;
  line-height: 2.2vw;
  margin-top: 3vw;
}
.heading-text{
  font-family: 'Cormorant Upright' ,serif;
  color:  #DCCA87;
  letter-spacing: .6vh;
  font-size: 90px;
}

.app-bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}